<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Take Food</title>
    <link rel="stylesheet" href="/css/take-food.css">
</head>
<body>
<div class="container">
    <h1 class="title">Take Food</h1>
    <h3 class="subheading">Food Details</h3>
    <p><strong>Name:</strong> <span th:text="${food.name}"></span></p>
    <p><strong>Expiration Date:</strong> <span th:text="${food.expirationDate}"></span></p>
    <p><strong>Location:</strong> <span th:text="${food.location}"></span></p>
    <p><strong>Category:</strong> <span th:text="${food.category.name}"></span></p> <!-- 카테고리 추가 -->

    <h3 class="subheading">Are you sure you want to take this food?</h3>
    <form action="#" th:action="@{/food/{id}/take(id=${food.id})}" method="post">
        <div class="input-group">
            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" required="required">
        </div>
        <div class="input-group">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required="required">
        </div>
        <button type="submit" class="submit-btn">Confirm</button>
    </form>
    <a href="/foods" class="back-link">Back to Food List</a>
</div>
</body>
</html>
